header {
  padding: 40px 0 40px;
}

.bg-primary>div>.lead>a {
  color: white;
  text-decoration: underline;
}

section {
  padding: 20px 0;
}

body {
  overflow-y: scroll;
}

#contracts {
  width: 100%;
  font-size: 11pt;
}