{% extends "freight/base.html" %}
{% load humanize %}

{% block content %}
<header class="bg-primary text-white">
    <div class="container text-center">
    <h1>Reward Calculator</h1>
    <p class="lead">Cheapest rates in all of New Eden guaranteed*</p>
    </div>
</header>


<section id="about">
    <div class="container">
        <div class="alert alert-danger">
          <strong>Danger!</strong> Do not include containers of any kind in your contract!
        </div>

        <div class="row" style="margin:10px;">
        <div class="col-sm-2">Route:</div>
        <div class="col-sm-6">

        <select name="route" id="route" class="form-control">
            {% for r in routes %}
            <option value="{{ r.price_per_m3 }}">{{ r.start.short_name }} &rightarrow; {{ r.end.short_name }} ({{ r.price_per_m3 }} ISK/m&sup3;)</option>
            {% endfor %}
        </select>
        </div>
        </div>

        <div class="row" style="margin:10px;">
        <div class="col-sm-2">Contract Size:</div>
        <div class="col-sm-6">
            <input type="text" id="m3" class="form-control" value="0" />
        </div>
        <div class="col-sm-4">({{ parameters.max_size|intword }} max | {{ paraemeters.recommended_size|intword}} recomended)</div>
        </div>

        <div class="row" style="margin:10px;">
        <div class="col-sm-2">Collateral:</div>
        <div class="col-sm-6">
            <input type="text" id="collat" class="form-control" value="0" />
        </div>
        <div class="col-sm-4">(Less than {{ parameters.recommended_collateral|intword }} recommended)</div>
        </div>

        <dl>
            <dt>Reward</dt>
            <dd id="reward">0 ISK</dd>
            <dt>Recommendations</dt>
            <dd id="recomendation"></dd>
        </dl>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
function collateral() {
    var collateralRate = {{ parameters.collateral_rate }};
    var maxSize = {{ parameters.max_size }};
    var recomendedCollateral = {{ parameters.recommended_collateral }};
    var recomendedSize = {{ parameters.recommended_size }};
    var minPrice = {{ parameters.min_size }};

    var m3Rate = parseInt($("#route").val());
    var size = parseFloat($("#m3").val());
    var collateral = parseFloat($("#collat").val());

    var reward = Math.max(minPrice, (m3Rate * size) + (collateral * collateralRate));

    $("#reward").text(reward.toFixed(2).toString() + " (" + (reward.toFixed(2)/1000000).toFixed(2) + " Million ISK)");

    if (size > maxSize) {
        $("#recomendation").text("The fuck are you trying to move? A titan? Split your contract nerd");
    } else if (reward > minPrice) {
        $("#recomendation").text("None, go for it!");
    } else {
        $("#recomendation").text("Come on now, ain't nobody got time to move your shit for less than 5 million ISK");
    }

    if (size > recomendedSize || collateral > recomendedCollateral){
        $("#recomendation").text("Consider splitting your contract into smaller chunks for faster service.");
    }

    if (isNaN(collateral) || isNaN(size)){
        $("#reward").text("");
        $("#recomendation").text("Please try filling in all the fields, it's the least you can do after all");
    }
}

$("#route").on("input", null, null, collateral);
$("#m3").on("input", null, null, collateral);
$("#collat").on("input", null, null, collateral);

collateral();
</script>
{% endblock %}
