{% extends "freight/base.html" %}
{% load humanize %}

{% block content %}
<header class="bg-primary text-white">
    <div class="container text-center">
    <h1>Contract List</h1>
    <p class="lead">Looking to create a contract? Try the <a href="{% url 'freight:calculator' %}">calculator</a>!</p>
    </div>
</header>

<section id="about">
    <div class="container">
    <table id="contracts">
    <thead>
        <tr>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Reward</th>
            <th>Collateral</th>
            <th>TTC</th>
            <th>Expires</th>
            <th>Client</th>
            <th>Open</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contracts %}
        <tr>
            <td>{{ c.start.short_name }}</td>
            <td>{{ c.end.short_name }}</td>
            <td data-sort="{{ c.reward }}">{{ c.reward|intword }}</td>
            <td data-sort="{{ c.collateral }}">{{ c.collateral|intword }}</td>
            <td>{{ c.days_to_complete }}</td>
            <td data-sort="{{ c.date_expired|date:'c' }}">{{ c.date_expired|naturaltime }}</td>
            <td>{{ c.issuer.name }}</td>
            <td><button type="button" class="btn btn-primary">In-game</button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {
    $('#contracts').DataTable({
        "pageLength": 100
    });
} );
</script>
{% endblock %}
