{% extends "freight/base.html" %}
{% load humanize %}
{% load short_natural_time %}
{% load reward_percentage %}

{% block content %}
<header class="bg-primary text-white">
    <div class="container text-center">
    <h1>Contract List</h1>
    <p class="lead">Looking to create a contract? Try the <a href="{% url 'freight:calculator' %}">calculator</a>!</p>
    </div>
</header>

<section id="about">
    <div class="container">
    <table id="contracts" style="width: 100%;">
    <thead>
        <tr>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Volume</th>
            <th>Suggested</th>
            <th>Reward</th>
            <th>Collateral</th>
            <th>TTC</th>
            <th>Expires</th>
            <th data-visible="false">Client</th>
            <th>Open</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contracts %}
        <tr class="">
            <td>{{ c.start.short_name|default:"Unknown" }}</td>
            <td>{{ c.end.short_name|default:"Unknown" }}</td>
            <td data-sort="{{ c.volume }}">{{ c.volume|floatformat:2 }} m&sup3;</td>
            {% if c.route_price_per_m3 >= 0 %}
            <td data-sort="{{ c.suggested_reward }}">{{ c.suggested_reward|intword }}</td>
            {% else %}
            <td data-sort="-1">&ndash;</td>
            {% endif %}
            <td data-sort="{{ c.reward }}">{{ c.reward|intword }}
                {% if c.route_price_per_m3 >= 0 %}
                    {% if c.reward >= c.suggested_reward %}
                    (<span class="text-success">{% reward_difference c.reward c.suggested_reward %}%</span>)
                    {% elif c.reward < c.suggested_reward %}
                    (<span class="text-danger">{% reward_difference c.reward c.suggested_reward %}%</span>)
                    {% endif %}
                {% endif %}
            </td>
            <td data-sort="{{ c.collateral }}">{{ c.collateral|intword }}</td>
            <td>{{ c.days_to_complete }}</td>
            <td data-sort="{{ c.date_expired|date:'c' }}">{{ c.date_expired|short_natural_time }}</td>
            <td>{{ c.issuer.name }}</td>
            <td><button type="button" class="btn btn-primary btn-sm" onclick="view_contract({{ c.id }});" {% if not request.user.is_authenticated %}disabled{% endif %}>In-game</button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {
    $('#contracts').DataTable({
        "pageLength": 100,
        "order": [[ 7, "asc" ]]
    });
} );

function view_contract(cid) {
    // HACK: Wow this is disgusting.
    $.post("{% url 'freight:ingame_contract' 111111111 %}".replace("111111111", cid));
}
</script>
{% endblock %}
